#cart-container {
  max-width: 1100px;
  margin: 30px auto;
  display: flex;
  align-items: start;
  padding: 0 30px;
  gap: 40px;
  min-height: 100vh;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

tr {
  border-bottom: 1px solid rgb(222, 222, 222);
}

td,
th {
  text-align: left;
  padding: 8px;
}

.empty-warning {
  text-align: center;
  width: 100%;
  font-size: 30px;
}

.product-cell {
  display: flex;
  align-items: center;
  gap: 20px;
}

.product-cell img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.quantity-cell span {
  margin: 0 5px;
}

.quantity-cell button {
  width: 25px;
  height: 25px;
  font-size: 20px;
  outline: none;
  border: none;
  background: #d9d9d9;
  border-radius: 9999px;
  cursor: pointer;
}

.total {
  margin-top: 20px;
  font-weight: 500;
}

.checkout {
  max-width: 400px;
  margin: 0 auto;
}

.checkout input {
  border: 2px solid #e1e1e1;
  padding: 10px;
  font-size: 16px;
}

.checkout .credit {
  position: relative;
}

.credit {
  margin-top: 10px;
}

.checkout .credit input {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.checkout img {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  height: 20px;
}

.checkout .date-and-cvc {
  display: flex;
}

.checkout .date-and-cvc input {
  flex: 1;
}

.checkout .date-and-cvc input:first-child {
  border-bottom-left-radius: 8px;
}

.checkout .date-and-cvc input:last-child {
  border-bottom-right-radius: 8px;
}

.checkout button {
  margin-top: 20px;
  width: 100%;
  background: var(--primary);
  border-radius: 6px;
  color: white;
  border: none;
  outline: none;
  padding: 14px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  cursor: pointer;
}

@media screen and (max-width: 896px) {
  #cart-container {
    flex-direction: column;
  }
}
